[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/boole/Desktop/Planet Explorers.desktop]
row=4
col=0

[/home/boole/Desktop/Counter-Strike Global Offensive.desktop]
row=8
col=0

[/home/boole/Desktop/Astral Slider.desktop]
row=7
col=0

[/home/boole/Desktop/WAKFU.desktop]
row=2
col=1

[/home/boole/Desktop/Crab Game.desktop]
row=6
col=0

[/home/boole/Desktop/Helltaker.desktop]
row=1
col=1

[/home/boole/Desktop/Himno.desktop]
row=0
col=1

[/home/boole/Desktop/Muck.desktop]
row=5
col=0

[google-drive://samarthupadhya2309@gmail.com/]
row=0
col=0

[Trash]
row=1
col=0

[/]
row=2
col=0

[/home/boole]
row=3
col=0

